/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "reset";
@import "typography";
@import "sprite";

body { background-color:#cccccc; text-align:center; }

/**
* Icons
*/
@mixin icon { display:inline-block; }
@mixin icon-left { display:inline-block; padding-right:5px; }
@mixin icon-right { display:inline-block; padding-left:5px; }

.icon-a { @include sprite($icon-a); @include icon-right(); }
.icon-b { @include sprite($icon-b); @include icon-right(); }
.icon-c { @include sprite($icon-c); @include icon-right(); }